.new-sec{
    background-color: darkkhaki;
    padding: 3.5rem;
    min-width: 30rem;
    margin: auto;
    width: 50%;
}

.new-head{
    color: crimson;
}

.fl-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nw-inp{
    min-width: 250px;
    width: 60%;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    border: 2px solid orangered;
    font-size: 1.6rem;
    color: red;
}