.task-i{
    color: red;
    margin: 1rem;
    margin-bottom: 2rem;
}

.mbtns{
    display: flex;
    justify-content: space-around;
}

.bx-ts{
    min-width: 25rem;
    width: 30%;
    background-color: grey;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}
